:root {
    --min-book-width: 200px;
    --max-book-width: 350px;

    --brown: rgb(181, 127, 80);
    --dark-green: rgb(75, 84, 59);
    --green: rgb(142, 208, 129);
    --light-green: rgb(220, 226, 170);
    --blue: rgb(180, 210, 186);
}

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

dialog {
    border: 1px solid var(--dark-green);
}

h1 {
    color: var(--dark-green);
    font-size: 3em;
}

h2 {
    color: var(--dark-green);
    font-size: 2em;
}

input[type="text"] {
    appearance: none;
    border: 2px solid var(--light-green);
    border-radius: 5px;
    height: 1.5em;
    color: var(--dark-green);
}

input[type="number"] {
    appearance: none;
    border: 2px solid var(--light-green);
    border-radius: 5px;
    height: 1.5em;
    color: var(--dark-green);
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid var(--light-green);
    border-radius: 5px;
    color: var(--light-green);
}

input[type="checkbox"]::before {
    content: "✔";
    color: var(--green);
    position: absolute;
    right: -1px;
    top: -0.3em;
    visibility: hidden;
}
  
input[type="checkbox"]:checked::before {
    visibility: visible;
}

.border-radius {
    border-radius: 10px;
}

/* MODAL */
::backdrop {
    background-image: linear-gradient(
        45deg,
        var(--brown),
        var(--dark-green),
        var(--green),
        var(--light-green),
        var(--blue)
    );
    opacity: 0.75;
}

.center-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* TEXT */

.bigger-text {
    font-size: 1.25em;
}

.text-dark-green {
    color: var(--dark-green);
}

.text-light-green {
    color: var(--light-green);
}

/* BACKGROUND */

.bg-blue {
    background-color: var(--blue);
}

.bg-brown {
    background-color: var(--brown);
}

/* GRID */

.library-grid {
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(auto-fill, clamp(var(--min-book-width), 30%, var(--max-book-width)));
    grid-auto-rows: 1fr;

    border-radius: 10px;
}

.form-grid {
    display: grid;
    overflow: auto;
    grid-template-rows: repeat(1fr, 4);
    grid-template-columns: 1fr 3fr;
    row-gap: 10px;
}

/* BOOK CARD */
  
.book-card {
    background-color: var(--dark-green);
    color: var(--light-green);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 0.5em;

    padding: 10px;
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
}

.card-author {
    font-size: 1.1em;
}

.card-pages {
    font-weight: 300;
}

.card-button {
    background-color: transparent;
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 5px;
    height: 1.75em;
    align-self: end;
    margin-top: auto;
}

.card-button:hover {
    color: var(--brown);
    border: 1px solid var(--brown);
}

/* NEW BOOK */

.new-book-button {
    background-color: transparent;
    color: var(--dark-green);
    border: 1px solid var(--dark-green);
    border-radius: 5px;
    height: 1.75em;
    align-self: end;
}

.new-book-button:hover {
    color: var(--brown);
    border: 1px solid var(--brown);
}

.form-button {
    background-color: transparent;
    color: var(--light-green);
    border: 1px solid var(--light-green);
    border-radius: 5px;
    height: 1.75em;
}

.form-button:hover {
    color: var(--green);
    border: 1px solid var(--green);
}

/* FLEX */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

/* ALIGNMENT */

.align-center {
    align-items: center;
}

.self-center {
    align-self: center;
}

.self-end {
    align-self: end;
}

.justify-space-between {
    justify-content: space-between;
}

/* GAP */

.gap-10 {
    gap: 10px;
}

/* PADDING */

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

/* MARGIN */

.mtop-8 {
    margin-top: 8px;
}

.mtop-auto {
    margin-top: auto;
}

/* WIDHT */

.window-half-width {
    width: 50vw;
}

.window-width {
    width: 100vw;
}

/* HEIGHT */

.h-100 {
    height: 300px;
}